[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pytest = "*"
pytest-cov = "*"
python-dotenv = "*"
openai = "*"
black = "*"
bs4 = "*"
requests-html = "*"

[dev-packages]

[requires]
python_version = "3.8"
